/* You can add global styles to this file, and also import other style files */
.relative {
    color: red;
    background-color: #02062b;
    color: #F2B33F;
    border: 1px solid #02062b;
    color: #F2B33F;
    font-size: 16px;
}

td {
    color: #73879C;
    text-align: center;
    font-weight: 600;
    padding: 5px;
}

.handsontable .htRight {
    text-align: center !important;
}